#root {
    background-color: #DCDCDC;
}

.artistes-container {
    padding: 20px;
}

.artiste {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.artiste:hover {
    transform: translateY(-5px);
}

.image-container {
    position: relative;
}

.artiste img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.artiste img.blurred {
    filter: blur(5px);
}

.reveal-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #000;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.reveal-btn:hover {
    background-color: #333;
}

.nom-artiste {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
